:root { 
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; 
    color-scheme: light dark; }
body { 
    margin: 0; 
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    min-height: 100vh; 
    background: #4887c5; }
